<nav class="nav-main">
    <img src="/images/rays_edu.png" alt="" class="title-img">
    <ul>
        <li class="active">
            <a href="#">
                <img src="/icons/graduation.svg" alt="" class="icon"> 
                <p>LEARN</p> 
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/icons/bookmark.svg" alt="" class="icon"> 
                <p>BOOKMARKS</p> 
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/icons/posts.svg" alt="" class="icon"> 
                <p>POSTS</p> 
            </a>
        </li>
        <li>
            <a href="#">
                <img style="margin-bottom: 0.3rem;" src="/uploads/default.png" alt="" class="icon"> 
                <img src="/icons/arrow-down.svg" alt="" class="icon small">
            </a>
        </li>
    </ul>
    <span class="burger">
        <!-- onclick="toggleMoreOptions()"> -->
        <svg id="Outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect y="11" width="24" height="2" rx="1"/><rect y="4" width="24" height="2" rx="1"/><rect y="18" width="24" height="2" rx="1"/></svg>
    </span>
</nav>